.back-link {
  position: absolute;
  left: 40px;
}

#datetime-picker {
  margin: 32px 0;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
}

[data-start] {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
  border: none;
  border-radius: 8px;
  background: #cfcfcf;
}
