.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-item {
  font-weight: 600;

  &:hover,
  &:focus {
    color: #ff6b0b;
  }
}
